@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Welcome</h2>
        <p>
            This site intends to provide a tutorial for writing a form which uses non-Javascript friendly postbacks and then provides Javascript enhancement for the form.
        </p>
        <p>@Html.ActionLink("Start >>>", "Order", "Menu", new { }, new { @class = "btn btn-primary" })
        </p>
    </div>
</div>