@model EliotJones.PostbackTutorial.ViewModels.Menu.OrderViewModel
@{
    ViewBag.Title = "Order";
}

<h2>Order</h2>
<hr/>

@using (Html.BeginForm("Order", "Menu", FormMethod.Post, htmlAttributes: new { id = "form" }))
{
    <div id="form-for-ajax">
        @Html.Partial("_OrderPartial", Model)
    </div>
    <button class="btn btn-default alongside-label" type="submit" name="submit" value="submit">Submit</button>
}

@section scripts{
    <script>
        function addMore(event) {
            $.ajax({
                url: '/Menu/Order?submit=add',
                data: $('#form').serialize(),
                type: 'POST'
            }).done(function (data) {
                $('#form-for-ajax').html(data);
            })
        .fail(function () {
            return true;
        });
            event.preventDefault();
        }

        function ie8SafePreventEvent(e) {
            if (e.preventDefault) { e.preventDefault() }
            else { e.stop() };

            e.returnValue = false;
            e.stopPropagation();
        }
    </script>
}