@model EliotJones.PostbackTutorial.ViewModels.Menu.OrderViewModel
@{
    ViewBag.Title = "Order";
}

<h2>Order</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    @Html.Partial("_Previous", Model)
    
    @Html.Partial("_Current", Model, ViewData)

    <button class="btn btn-default alongside-label" type="submit" name="submit" value="submit">Submit</button>
}
