@model EliotJones.PostbackTutorial.ViewModels.Menu.OrderViewModel
@{
    ViewBag.Title = "Order";
}

<h2>Order</h2>
<hr/>

@using (Html.BeginForm("Order", "Menu", FormMethod.Post, htmlAttributes: new { id = "form" }))
{
    <div id="form-for-ajax">
        @Html.Partial("_OrderPartial", Model)
    </div>
    <button class="btn btn-default alongside-label" type="submit" name="submit" value="submit">Submit</button>
}

@section scripts{
    <script>
    function addMore(event) {
        $.post('@Url.Action("Order", new { submit = "add" })',
            $('#form').serialize())
            .done(function (data) {
                $('#form-for-ajax').html(data);
            }).fail(function () {
                return true;
            });
        event.preventDefault();
    }
    </script>
}